<h3 class="title"><%= l(:label_spent_time) %></h3>

<%= labelled_form_for @time_entry, url: stopwatch_path, remote: true do |f| %>
  <% @time_entry.hours ||= 0 %>
  <%= render partial: 'timelog/form', locals: { f: f } %>

  <p class="buttons">
    <%= submit_tag l(:button_create) %>
    <%= submit_tag l(:button_cancel), name: nil, onclick: "hideModal(this);", type: 'button' %>
  </p>
<% end %>
